@import url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-3,300..800,0..1,0..1,0..1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Recursive", monospace;
    font-variation-settings:
      "MONO" 0,
      "CASL" 0.3,
      "slnt" -2,
      "CRSV" 0.5;
  }
}

body {
  @apply bg-slate-200 text-slate-700 dark:bg-slate-700 dark:text-slate-200;
  transition:
    color 1s,
    background 1s,
    filter 1s;
}

.halftone {
  position: relative;
  filter: brightness(0.8) blur(1px) contrast(999) grayscale(100%);
  mix-blend-mode: multiply;
}
.halftone:after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(4.2px at 95% 95%, white, black);
  background-size: 6px 6px;
  mix-blend-mode: screen;
}

.backdrop {
  position: fixed;
  inset: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1000;
}

.backdrop div {
  width: 100%;
  height: 100%;
  position: absolute;
}

@keyframes pan-up {
  100% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  0% {
    background-position: 50% 200%;
  }
}

#bg-breathe {
  background: url("/assets/bg.svg");
  filter: contrast(0.1) brightness(1.5);
  object-fit: cover;
  animation: pan-up 60s linear infinite;
  overflow: hidden;
}

#background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(1.2) contrast(0.4);
  mix-blend-mode: multiply;
}

#background-color {
  @apply bg-slate-200 dark:bg-slate-700;
  z-index: -1100;
}

.easeload {
  transition: all 2s ease;
  animation-name: easeload;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes easeload {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  #background img {
    display: none;
  }
  #bg-breathe {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .backdrop {
    filter: invert(1);
  }
  .halftone {
    filter: brightness(0.65) blur(1px) contrast(999) grayscale(100%) invert(1);
  }
  #background-color {
    filter: invert(1);
  }
  #background {
    filter: invert(1);
  }
  #background img {
    filter: brightness(1) contrast(0.4) invert(1);
  }
}

/* taken from: https://codepen.io/cbp/pen/RaEOaj/
 * credit: Christian Petersen */
.glitch {
  position: relative;
  margin: 0 auto;
}

.glitch::before,
.glitch::after {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  overflow: hidden;
  position: absolute;
  /* top: calc(50% - 4rem); */
  top: 0;
  width: 100%;
  clip: rect(0, 900px, 0, 0);
  content: attr(data-text);
}

.glitch::after {
  animation-name: glitch-animation;
  animation-duration: 4s;
  /* left: calc(50% + 4px); */
  left: 4px;
  text-shadow: -1px 0 #ffa800;
}

.glitch::before {
  animation-name: glitch-animation-2;
  animation-duration: 6s;
  /* left: calc(50% - 4px); */
  left: -4px;
  text-shadow: 1px 0 #00d8ff;
}

@media (prefers-reduced-motion: reduce) {
  .glitch::before,
  .glitch::after {
    display: none;
  }
}

@keyframes glitch-animation {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
  }
  5% {
    clip: rect(12px, 9999px, 59px, 0);
  }
  10% {
    clip: rect(48px, 9999px, 29px, 0);
  }
  15.0% {
    clip: rect(42px, 9999px, 73px, 0);
  }
  20% {
    clip: rect(63px, 9999px, 27px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 55px, 0);
  }
  30.0% {
    clip: rect(86px, 9999px, 73px, 0);
  }
  35% {
    clip: rect(20px, 9999px, 20px, 0);
  }
  40% {
    clip: rect(26px, 9999px, 60px, 0);
  }
  45% {
    clip: rect(25px, 9999px, 66px, 0);
  }
  50% {
    clip: rect(57px, 9999px, 98px, 0);
  }
  55.0% {
    clip: rect(5px, 9999px, 46px, 0);
  }
  60.0% {
    clip: rect(82px, 9999px, 31px, 0);
  }
  65% {
    clip: rect(54px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(28px, 9999px, 99px, 0);
  }
  75% {
    clip: rect(45px, 9999px, 69px, 0);
  }
  80% {
    clip: rect(23px, 9999px, 85px, 0);
  }
  85.0% {
    clip: rect(54px, 9999px, 84px, 0);
  }
  90% {
    clip: rect(45px, 9999px, 47px, 0);
  }
  95% {
    clip: rect(37px, 9999px, 20px, 0);
  }
  100% {
    clip: rect(4px, 9999px, 91px, 0);
  }
}

@keyframes glitch-animation-2 {
  0% {
    clip: rect(65px, 9999px, 100px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 74px, 0);
  }
  10% {
    clip: rect(79px, 9999px, 85px, 0);
  }
  15.0% {
    clip: rect(75px, 9999px, 5px, 0);
  }
  20% {
    clip: rect(67px, 9999px, 61px, 0);
  }
  25% {
    clip: rect(14px, 9999px, 79px, 0);
  }
  30.0% {
    clip: rect(1px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(86px, 9999px, 30px, 0);
  }
  40% {
    clip: rect(23px, 9999px, 98px, 0);
  }
  45% {
    clip: rect(85px, 9999px, 72px, 0);
  }
  50% {
    clip: rect(71px, 9999px, 75px, 0);
  }
  55.0% {
    clip: rect(2px, 9999px, 48px, 0);
  }
  60.0% {
    clip: rect(30px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(59px, 9999px, 50px, 0);
  }
  70% {
    clip: rect(41px, 9999px, 62px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 82px, 0);
  }
  80% {
    clip: rect(47px, 9999px, 73px, 0);
  }
  85.0% {
    clip: rect(3px, 9999px, 27px, 0);
  }
  90% {
    clip: rect(26px, 9999px, 55px, 0);
  }
  95% {
    clip: rect(42px, 9999px, 97px, 0);
  }
  100% {
    clip: rect(38px, 9999px, 49px, 0);
  }
}

nav {
  animation-name: blurNav;
  animation-duration: 1ms;
  animation-direrction: normal;
  animation-timeline: scroll(y nearest);
  @apply bg-slate-200 dark:bg-slate-700;
}

@keyframes blurNav {
  0% {
    --tw-bg-opacity: 0;
  }
  5% {
    --tw-bg-opacity: 1;
  }
  100% {
    --tw-bg-opacity: 1;
  }
}

.error {
  @apply bg-red-500 text-slate-100
    dark:bg-red-700 dark:text-slate-300
    px-4 py-4 rounded
    mx-auto my-auto;
}

#post-body {
  @apply mt-6 mb-auto;
}

#post-body > * {
  @apply my-4;
}

#post-body hr {
  @apply border-slate-600 dark:border-slate-400 border-t-4 w-40;
  transition: border-color 1s;
}

#post-body h1 {
  @apply text-4xl font-extrabold my-12;
}
#post-body h2 {
  @apply text-3xl font-extrabold my-8;
}
#post-body h3 {
  @apply text-2xl font-extrabold my-6;
}
#post-body h4 {
  @apply text-xl font-extrabold my-6;
}

#post-body p {
  @apply text-justify;
}

pre {
  @apply px-4 py-4 bg-slate-200 dark:bg-slate-900 rounded;
}

code {
  font-variation-settings:
    "MONO" 1,
    "CASL" 0,
    "slnt" -2,
    "CRSV" 0.5;
}

span.highlight {
  transition: color 1s;
}

span.highlight.keyword {
  @apply text-blue-600 dark:text-blue-400;
}
span.highlight.function {
  @apply text-sky-600 dark:text-sky-400;
}
span.highlight.type {
  @apply text-yellow-600 dark:text-yellow-400;
}
span.highlight.comment {
  @apply text-slate-600 dark:text-slate-400;
}
span.highlight.string {
  @apply text-green-600 dark:text-green-400;
}
span.highlight.constant {
  @apply text-orange-600 dark:text-orange-400;
}
span.highlight.tag {
  @apply text-indigo-600 dark:text-indigo-400;
}

.katex > .katex-html {
  display: none;
}

blockquote {
  @apply px-4 py-4 bg-slate-300 dark:bg-slate-800 rounded text-slate-600 dark:text-slate-400;
  text-align: justify;
}
blockquote p {
  display: inline;
}
blockquote:before {
  content: "";
  @apply mr-4 border-2 border-slate-500 dark:border-slate-500;
}

#post-body img {
  @apply rounded mb-2;
}
